<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Node MVC</title>
  <style>
    html,
    body {
    height: 100%;
    }
    body {
    margin: 0;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
    }
    .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    th,
    td {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    }
    th {
    text-align: left;
    }
    thead th {
    background-color: #55608f;
    }
    tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
    }
    tbody td {
    position: relative;
    }
    tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
    }
  </style>
</head>
<body>
<div class="container">
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Universe</th>
				<th>Physical Location</th>
                <th>Status</th>
			</tr>
		</thead>
		<tbody>
            <% users.forEach((item)=>{%>
                <tr>
                    <td><%=item.id%></td>
                    <td><%=item.first_name%></td>
                    <td><%=item.last_name%></td>
                    <td><%=item.universe%></td>
                    <td><%=item.physical_location%></td>
                    <td><%=item.status%></td>
                </tr>
            <%});%>
		</tbody>
	</table>
</div>
</body>
</html>